<% if(changelogs.length > 0){ %>
  <div class="modal fade" id="changelog" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-changelog" role="document">
      <div class="modal-content p-3">
        <div class="modal-header">
          <h5 class="modal-title"><%= changelogs[0].changelog_title %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body markdown-box">
          <%- changelogs[0].changelog_content %>
        </div>
        <div class="modal-footer d-flex justify-content-between align-items-center">
          <small class="changelog-date"><%= changelogs[0].createdAt %></small>
          <button type="button" id="cchangelog" class="btn btn-secondary" data-dismiss="modal">Entendido</button>
        </div>
      </div>
    </div>
  </div>
<% } %>