  <div style="margin-top: 6rem;"></div>
  <footer class="footer">
    <div class="container h-100">
      <div class="row h-100 d-flex align-items-center">
        <div class="col-md-12 d-flex justify-content-between">
          <span class="copyright"><%= new Date().getFullYear();%> &copy; <%= PAGE_TITLE %>.</span>
          <div class="social">
            <a href="#"><i class="fab fa-discord"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>