<%- include('partials/header.ejs') %>
<%- include('layouts/navbar.ejs') %> 
<%- include('layouts/sidebar.ejs') %> 
  <div class="height-100 bg-light">
    <h4>Main Components</h4>
  </div>
<%- include('partials/footer.ejs') %>