<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>
  <div class="container">
    <div class="row mt-5 text-white">
      <div class="col-lg-12">
        <div class=" page commands" style="display:block;">
          <div class="row">
            <div class="col-12 col-lg-6">
              <h2>Comandos</h2><br>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-lg-6">
              <h3><b>Personalizar</b></h3>
              <span class="btn btn-success btn-sm mb-1 mb-1"><b>!setusername (new name)</b></span> - mudar o nome do
              bot <br>
              <span class="btn btn-success btn-sm mb-1 mb-1"><b>!setavatar (url|file)</b></span> - mudar o avatar do
              bot <br>
              <br>
              <h3><b>Moderação</b></h3>
              <span class="btn btn-warning btn-sm mb-1 mb-1"><b>!banir (mention|id) (reason)</b></span> - irá banir um
              usuário de seu servidor. <br>
              <span class="btn btn-warning btn-sm mb-1 mb-1"><b>!desbanir (id) (reason)</b></span> - irá remover o
              banimento de um usuário se banido. <br>
              <span class="btn btn-warning btn-sm mb-1 mb-1"><b>!desbanirtodos</b></span> - irá remover o banimento de
              todos os banidos de seu servidor. <br>
              <span class="btn btn-warning btn-sm mb-1 mb-1"><b>!bangif (url)</b></span> - irá colocar uma imagem /
              gif ao seu ban e irá exibi-lo na mensagem quando você usar o comando ban. (se habilitado) <br>
              <span class="btn btn-warning btn-sm mb-1 mb-1"><b>!expulsar (mention|id) (reason)</b></span> - irá
              expulsar um usuário de seu servidor. <br>
              <span class="btn btn-warning btn-sm mb-1 mb-1"><b>!mutar (mention|id) (time s|m|h|d) (reason)</b></span>
              - tornará impossível para um usuário enviar mensagens em seu servidor, por um certo tempo. <br>
              <span class="btn btn-warning btn-sm mb-1 mb-1"><b>!desmutar (mention|id)</b></span> - irá permitir que o
              usuário volte a enviar mensagens em seu servidor. <br>
              <span class="btn btn-warning btn-sm mb-1 mb-1"><b>!desmutarcall (mention|id)</b></span> - silenciará um
              usuário nos canais de voz por um tempo especificado. <br>
              <span class="btn btn-warning btn-sm mb-1 mb-1"><b>!prender (mention|id) (time s|m|h|d)
                  (reason)</b></span> - irá ocultar todos os canais de um usuário por um certo tempo. <br>
              <span class="btn btn-warning btn-sm mb-1 mb-1"><b>!soltar (mention|id)</b></span> - irá remover um
              usuário da prisão (impossibilidade de ver os canais do servidor.) <br>
              <span class="btn btn-warning btn-sm mb-1 mb-1"><b>!trancar [channel]</b></span> - irá bloquear o canal
              de texto, impossibilitando o envio de qualquer mensagem. <br>
              <span class="btn btn-warning btn-sm mb-1 mb-1"><b>!destrancar [channel]</b></span> - irá liberar o canal
              de texto bloqueado. <br>
              <span class="btn btn-warning btn-sm mb-1 mb-1"><b>!adv (mention|id) (reason)</b></span> - irá adicionar
              uma advertência ao usuário. <br>
              <span class="btn btn-warning btn-sm mb-1 mb-1"><b>!tiraradv (mention|id)</b></span> - irá remover a
              última advertência do usuário. <br>
              <br>
              <h3><b>VIP</b></h3>
              <span class="btn btn-info btn-sm mb-1 mb-1"><b>!setvip [mention|id]</b></span> - irá definir um membro
              como membro VIP. <br>
              <span class="btn btn-info btn-sm mb-1 mb-1"><b>!vip</b></span> - caso possua VIP, poderá configurar o
              mesmo. <br>
              <span class="btn btn-info btn-sm mb-1 mb-1"><b>!addvip (mention|id)</b></span> - adicione seu cargo VIP
              em amigos, se você a tiver. <br>
              <span class="btn btn-info btn-sm mb-1 mb-1"><b>!removervip (mention|id)</b></span> - remova seu cargo
              VIP do membro mencionado, se ele tiver. <br>
              <span class="btn btn-info btn-sm mb-1 mb-1"><b>!membersvip</b></span> - irá mostrar todos com o seu
              cargo VIP. <br>
              <span class="btn btn-info btn-sm mb-1 mb-1"><b>!addvipc (mention|id)</b></span> - irá adicionar um
              membro com direito de acesso ao seu canal VIP (caso o membro tenha o seu cargo VIP, ele já terá acesso
              ao seu canal). <br>
              <span class="btn btn-info btn-sm mb-1 mb-1"><b>!removevipc (mention|id)</b></span> - irá remover um
              membro do direito de acesso ao seu canal VIP <br>
              <span class="btn btn-info btn-sm mb-1 mb-1"><b>!familia</b></span> - você pode configurar sua família se
              for um dos líderes. <br>
              <span class="btn btn-info btn-sm mb-1 mb-1"><b>!fadd (mention|id)</b></span> - irá adicionar um usuário
              à sua família. <br>
              <span class="btn btn-info btn-sm mb-1 mb-1"><b>!fremove (mention|id)</b></span> - remover um usuário de
              sua família. <br>
              <span class="btn btn-info btn-sm mb-1 mb-1"><b>!fmembros</b></span> - vai mostrar todos com o cargo de
              sua família. <br>
              <br>
            </div>
            <div class="col-12  col-lg-6">
              <h3><b>Teste de vulnerabilidade</b></h3>
              <span class="btn btn-danger btn-sm mb-1 mb-1"><b>!scargos (adm|ban|kick|m_cargos|m_canais)</b></span> -
              irá exibir todos os cargos, com uma determinada permissão. <br>
              <span class="btn btn-danger btn-sm mb-1 mb-1"><b>!smembros (adm|ban|kick|m_cargos|m_canais)</b></span> -
              irá exibir todos os membros com uma determinada permissão. <br>
              <span class="btn btn-danger btn-sm mb-1 mb-1"><b>!sbots</b></span> - irá mostrar todos os bots do
              servidor. <br>
              <br>
              <h3><b>Registro</b></h3>
              <span class="btn btn-primary btn-sm mb-1 mb-1"><b>!registrar [mention|id]</b></span> - irá registrar um
              membro. (se o registro automático estiver habilitado, não haverá necessidade de um registrador, o
              próprio membro poderá usar o comando sem menção). <br>
              <span class="btn btn-primary btn-sm mb-1 mb-1"><b>!registro [mention|id]</b></span> - irá exibir seus
              registros ou o de um determinado usuário. <br>
              <span class="btn btn-primary btn-sm mb-1 mb-1"><b>!registros</b></span> - irá exibir todos os registros
              do servidor em uma tabela de classificação. <br>
              <br>
              <h3><b>Utilidade</b></h3>
              <span class="btn btn-primary btn-sm mb-1 mb-1"><b>!limpar (quantity)</b></span> - irá limpar uma série
              de mensagens do canal onde o comando foi usado. (não apagará mensagens com mais de 14 dias). <br>
              <span class="btn btn-primary btn-sm mb-1 mb-1"><b>!limpartudo</b></span> - irá limpar todas as mensagens
              do canal no qual o comando foi usado. (não apagará mensagens com mais de 14 dias). <br>
              <span class="btn btn-primary btn-sm mb-1 mb-1"><b>!bot</b></span> - exibirá informações sobre o bot.
              <br>
              <span class="btn btn-primary btn-sm mb-1 mb-1"><b>!div [mention|id]</b></span> - mostre seus convites e
              o número de convidados ou do membro mencionado. <br>
              <span class="btn btn-primary btn-sm mb-1 mb-1"><b>!divs</b></span> - exibe todos os recrutadores e o
              número de convidados em uma tabela de classificação. <br>
              <span class="btn btn-primary btn-sm mb-1 mb-1"><b>!tempo [mention|id]</b></span> - exibe a quantidade de
              tempo armazenado, acumulado e suas informações. <br>
              <br>
              <h3><b>Eventos</b></h3>
              <span class="btn btn-primary btn-sm mb-1 mb-1"><b>!sorteio (template) (time s|m|h|d) (winners
                  quantity)</b></span> - inicia um sorteio com o modelo e configurações definidas. <br>
              <br>
              <h3><b>Canais temporários</b></h3>
              <span class="btn btn-primary btn-sm mb-1 mb-1"><b>!convidar (mention|id)</b></span> - irá convidar um
              usuário para o seu canal temporário. (o usuário precisará estar conectado a algum canal do servidor).
              <br>
              <span class="btn btn-primary btn-sm mb-1 mb-1"><b>!setname (new name)</b></span> - mudará o nome do seu
              canal temporário. <br>
              <span class="btn btn-primary btn-sm mb-1 mb-1"><b>!liberar [quantity]</b></span> - irá abrir o seu canal
              para todos. (você pode limitar a x quantidade). <br>
              <span class="btn btn-primary btn-sm mb-1 mb-1"><b>!trancar</b></span> - fechará seu canal para todos.
              <br>
              <br>
              <h3><b>Gerenciar cargos</b></h3>
              <span class="btn btn-primary btn-sm mb-1 mb-1"><b>!addcargo (mention|id) (mention|id|name
                  role)</b></span> - adicionar o cargo a um membro. <br>
              <span class="btn btn-primary btn-sm mb-1 mb-1"><b>!removercargo (mention|id) (mention|id|name
                  role)</b></span> - remove um cargo de um membro. <br>
              <span class="btn btn-primary btn-sm mb-1 mb-1"><b>!membros (mention|id|name role)</b></span> - lista
              todos os membros com um cargo específico. <br>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<%- include('partials/footerbar.ejs') %>
<%- include('partials/footer.ejs') %>