<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>
  <div class="container">
    <div class="row mt-5 text-white">
      <div class="col-md-12">
        <h2>Selecione um servidor</h2>
        <div class="row mt-4">
          <div class="col-md-4">
            <div class="card card-guild">
              <div class="card-body">
                <div>
                  <div class="card-body-banner"
                    style="background: url(https://cdn.discordapp.com/icons/322847410101420038/f23f1090d9fdb3b161bb16503b69b734.jpg) center center / cover no-repeat;">
                  </div>
                  <img src="https://cdn.discordapp.com/icons/322847410101420038/f23f1090d9fdb3b161bb16503b69b734.jpg"
                    class="guild-avatar" alt="2ATK">
                </div>
              </div>
              <div class="card-guild-options">
                <div class="guild-infos">
                  <h3 class="guild-name">2ATK</h3>
                  <div class="guild-role">Bot Master</div>
                </div>
                <button type="button" class="btn btn-go">
                  Go
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-guild">
              <div class="card-body">
                <div>
                  <div class="card-body-banner"
                    style="background: url(https://cdn.discordapp.com/icons/553619260325494805/8f2d8ae856967bd6628377433243d7e5.jpg) center center / cover no-repeat;">
                  </div>
                  <img src="https://cdn.discordapp.com/icons/553619260325494805/8f2d8ae856967bd6628377433243d7e5.jpg"
                    class="guild-avatar" alt="Lima Codes">
                </div>
              </div>
              <div class="card-guild-options">
                <div class="guild-infos">
                  <h3 class="guild-name">Lima Codes</h3>
                  <div class="guild-role">Dono</div>
                </div>
                <button type="button" class="btn btn-setup">
                  Setup
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<%- include('partials/footerbar.ejs') %>
<%- include('partials/footer.ejs') %>