<%- include('partials/header.ejs') %>
<%- include('layouts/navbar.ejs') %>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        ola
      </div>
    </div>
  </div>
<%- include('layouts/footerbar.ejs') %>
<%- include('partials/footer.ejs') %>