<%- include('partials/header.ejs') %>
  <div class="container-fluid chat-box">
    <div class="row h-100 clearmp">
      <div class="col-md-3 clearmp">
        <div class="card card-profile">
          <div class="card-body">
            <h5 class="card-title">
              <img src="assets/images/logo-icon.png" class="img-fluid mr-2" />
              <%= PAGE_TITLE %>
            </h5>
            <div class="rooms mt-5">
              <h3>Salas disponíveis</h3>
              <div class="list-group mt-3">
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                  <div class="d-flex flex-row align-items-center">
                    <div class="invite-user-photo">
                      <img src="assets/images/room.png">
                    </div>
                    <div class="ms-2 invite-user-details">
                      <h6 class="mb-0 waiting">Sala de Teste</h6>
                      <small>Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</small>
                    </div>
                  </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                  <div class="d-flex flex-row align-items-center">
                    <div class="invite-user-photo">
                      <img src="assets/images/room.png">
                    </div>
                    <div class="ms-2 invite-user-details">
                      <h6 class="mb-0 waiting">Sala de Teste</h6>
                      <small>Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</small>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="d-flex flex-row align-items-center">
              <div class="invite-user-photo">
                <img src="assets/images/avatar1.jpg">
              </div>
              <div class="ms-2 invite-user-details">
                <h6 class="mb-0 waiting">Acacio de Lima</h6>
                <small class="text-muted">Administrador</small>
              </div>
            </div>
            <div class="user-options">
               <span class="text-danger">Sair</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9 clearmp">
        <div class="card card-chat">
          <div class="card-header">
            <div class="d-flex flex-row align-items-center">
              <div class="invite-user-photo">
                <img src="assets/images/room.png" class="rounded">
              </div>
              <div class="ms-2 invite-user-details">
                <h6 class="mb-0 waiting">Sala de Teste</h6>
                <small>Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</small>
              </div>
            </div>
            <div class="options">
              <i class="fas fa-phone-alt"></i>
              <i class="fas fa-info-circle"></i>
            </div>
          </div>
          <div class="card-body">
            oi
          </div>
          <div class="card-footer">
            <button class="btn btn-plus"><i class="far fa-plus"></i></button>
            <button class="btn btn-send-image"><i class="far fa-images"></i></button>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Enviar mensagem para Sala de teste">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fad fa-paper-plane" style="color: #cccccc;"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<%- include('partials/footer.ejs') %>