<%- include('partials/header.ejs') %>
<%- include('layouts/navbar.ejs') %>
  <main class="landing">
    <section class="section-1">
      <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
          <div class="col-md-6">
            <h1 class="title">
              Conferência <br>
              rápida, confiável <br>
              e <span class="secure">segura</span> <i class="fad fa-star-christmas icon"></i>
            </h1>
            <p class="description mt-3">Realize eventos incríveis, compartilhe conhecimento, construa e ilumine sua comunidade, crie oportunidades</p>
            <div class="mt-4 box-buttons">
              <a href="/login" class="btn btn-create-room"><i class="fas fa-camera-movie"></i> Criar sala</a> 
              <a href="#" class="btn btn-work">Como funciona</a>
            </div>
          </div>
          <div class="col-md-6">
            <img src="assets/images/bg.svg" onload="SVGInject(this)" class="img-fluid" />
          </div>
        </div>
      </div>
    </section>
    <footer class="section-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mt-1 pb-4 d-flex align-items-center watch">
            <span class="ml-2">Conecte-se com as pessoas</span>
            <div class="box-avatars">
              <img src="/assets/images/avatar1.jpg" class="rounded-circle">
              <img src="/assets/images/avatar2.jpg" class="rounded-circle">
              <img src="/assets/images/avatar3.jpg" class="rounded-circle">
              <img src="/assets/images/avatar4.jpg" class="rounded-circle">
              <span class="more">+12</span>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </main>
<%- include('partials/footer.ejs') %>