<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-3">
        <div class="card card-store">
          <div class="card-body">
            <div class="product-img position-relative">
              <img src="assets/images/classic.png" class="img-fluid mx-auto d-block">
            </div>
            <div class="mt-4 text-center">
              <h5 class="mb-3 title">Nitro Classic</h5>
              <span class="product-size">
                <h4>Valor</h4>
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-primary btn-sm active">mensal</button>
                  <button type="button" class="btn btn-primary btn-sm">anual</button>
                </div>
              </span>
              <h5 class="price mt-4"><b>28 Reais</b></h5>
              <button class="btn btn-success btn-label mt-2">
                <i class="far fa-shopping-cart label-icon"></i> Adicionar ao Carrinho
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card card-store">
          <div class="card-body">
            <div class="product-img position-relative">
              <img src="assets/images/booster.png" class="img-fluid mx-auto d-block">
            </div>
            <div class="mt-4 text-center">
              <h5 class="mb-3 title">Nitro Booster</h5>
              <span class="product-size">
                <h4>Valor</h4>
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-primary btn-sm active">mensal</button>
                  <button type="button" class="btn btn-primary btn-sm">anual</button>
                </div>
              </span>
              <h5 class="price mt-4"><b>55 Reais</b></h5>
              <button class="btn btn-success btn-label mt-2">
                <i class="far fa-shopping-cart label-icon"></i> Adicionar ao Carrinho
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card card-store">
          <div class="card-body">
            <div class="product-img position-relative">
              <img src="assets/images/bot.png" class="img-fluid mx-auto d-block">
            </div>
            <div class="mt-4 text-center">
              <h5 class="mb-3 title">Bot (30 dias)</h5>
              <span class="product-size">
                <h4>Valor</h4>
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-primary btn-sm active">mensal</button>
                  <button type="button" class="btn btn-primary btn-sm">anual</button>
                </div>
              </span>
              <h5 class="price mt-4">40 Reais</h5>
              <button class="btn btn-success btn-label mt-2">
                <i class="far fa-shopping-cart label-icon"></i> Adicionar ao Carrinho
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<%- include('partials/footerbar.ejs') %>
<%- include('partials/footer.ejs') %>