<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>
  <div class="container">
      <div class="section-support mt-5">
        <div class="main-content-home">
          <h1>Central de Ajuda</h1>
      </div>
      <div class="section-search mt-5">
          <div class="col-12 col-sm-12 col-md-8">
            <div class="search">
              <i class="fa fa-search"></i>
              <input type="search" class="form-control" placeholder="O que você procura?">
          </div>
        </div>
      </div>
      <div class="row mt-5">
          <div class="col-md-4">
            <div class="card card-support">
              <div class="card-body">
                <a href="#" class="blocks-item-link">
                  <span class="first-letter">S</span>
                  <span class="button-name">Site</span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
            <div class="card card-support">
              <div class="card-body">
                <a href="#" class="blocks-item-link">
                  <span class="first-letter">B</span>
                  <span class="button-name">Bot</span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
            <div class="card card-support">
              <div class="card-body">
                <a href="#" class="blocks-item-link">
                  <span class="first-letter">L</span>
                  <span class="button-name">Loja</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
          <div class="col-md-4">
            <div class="card card-support">
              <div class="card-body">
                <a href="#" class="blocks-item-link">
                  <span class="first-letter">A</span>
                  <span class="button-name">Assinaturas</span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
            <div class="card card-support">
              <div class="card-body">
                <a href="#" class="blocks-item-link">
                  <span class="first-letter">C</span>
                  <span class="button-name">Cancelamento</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="recent-activity">
        <div class="row">
          <div class="col-md-12">
            <h2 class="recent-activity-header">Atividade recente</h2>
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="#" class="d-flex align-items-center">
                  <span class="first-letter">A</span>
                  <span class="d-flex flex-column">
                    <span class="recent-activity-item-title">Assinaturas</span>
                    <span class="recent-activity-item-description">Quais planos estão disponíveis?</span>
                </span>
              </a>
                <span class="recent-activity-item-time">Artigo criado: há 1 mês</span>
            </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="#" class="d-flex align-items-center">
                  <span class="first-letter">B</span>
                  <span class="d-flex flex-column">
                    <span class="recent-activity-item-title">Bot</span>
                    <span class="recent-activity-item-description">O bot fica online 24h?</span>
                </span>
              </a>
                <span class="recent-activity-item-time">Artigo criado: há 1 mês</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<%- include('partials/footerbar.ejs') %>
<%- include('partials/footer.ejs') %>