      <div class="card card-chat-landing">
        <div class="card-body">
          <div class="welcome">
            <img src="assets/images/bg-landing-chat.svg" onload="SVGInject(this)" class="img-fluid">
            <span>Bem-vindo ao <span class="logo"><%= PAGE_TITLE %></span>.</span>
          </div>
        </div>
      </div>