    <nav class="navbar navbar-expand-lg navbar-admin navbar-light">
      <div class="navbar-nav ml-auto">
        <div class="row profile">
          <div class="col-xs-6">
            <span><%= session.username %></span>
            <p><a class="logout" href="/logout">Sair</a></p>
          </div>
          <div class="col-xs-6">
            <img src="/assets/images/avatar.gif" class="avatar img-fluid">
          </div>
        </div>
      </div>
    </nav>