              <div class="dropdown show dropleft">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown">
                  <i class="fal fa-ellipsis-v"></i>
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#"><i class="fas fa-user-plus mr-1"></i> Convidar pessoas</a>
                  <a class="dropdown-item" href="#"><i class="fas fa-user-shield mr-1"></i> Adicionar administrador</a>
                  <a class="dropdown-item" href="#"><i class="fas fa-pencil-alt mr-1"></i> Editar nome</a>
                  <a class="dropdown-item" href="#"><i class="fas fa-lock-alt mr-1"></i> Alterar senha</a>
                  <a class="dropdown-item" href="#"><i class="fas fa-trash-alt mr-1"></i> Excluir sala</a>
                </div>
              </div>         