  <div class="siderbar-admin">
    <nav class="nav">
      <div> 
        <a href="#" class="nav_logo"> <i class="bx bx-layer nav_logo-icon"></i> 
          <span class="nav_logo-name">BBBootstrap</span> 
        </a>
        <div class="nav_list"> 
          <a href="#" class="nav_link active"> 
            <i class="far fa-border-all nav_icon"></i> 
            <span class="nav_name">Dashboard</span> 
          </a> 
          <a href="#" class="nav_link"> 
            <i class="far fa-user nav_icon"></i>
            <span class="nav_name">Users</span> 
          </a> 
          <a href="#" class="nav_link"> 
            <i class="far fa-comment-alt-lines nav_icon"></i>
            <span class="nav_name">Messages</span> 
          </a> 
          <a href="#" class="nav_link"> 
            <i class="far fa-bookmark nav_icon"></i>
            <span class="nav_name">Bookmark</span> 
          </a> 
          <a href="#" class="nav_link"> 
            <i class="far fa-folder nav_icon"></i>
            <span class="nav_name">Files</span>
          </a>
          <a href="#" class="nav_link"> 
            <i class="far fa-chart-bar nav_icon"></i>
            <span class="nav_name">Stats</span>
          </a> 
        </div>
      </div> 
      <a href="#" class="nav_link"> 
        <i class="far fa-sign-out nav_icon"></i>
        <span class="nav_name">Sair</span>
      </a>
    </nav>
  </div>